<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Import the required libraries**

### Let's begin with some hands-on practice exercises

In [6]:
# import 'pandas' 
import pandas as pd 

# import 'numpy' 
import numpy as np

# import subpackage of matplotlib
import matplotlib.pyplot as plt

# import 'seaborn'
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# import statsmodels
import statsmodels.api as sm

# import 'stats' package from scipy library
from scipy import stats

# import statistics to perform statistical computations
import statistics

# to test the normality 
from scipy.stats import shapiro

# import a library to perform Z-test
from statsmodels.stats import weightstats as stests

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A financial firm AlpaMoney has recently started their online payment gateway and claims that the level of customer satisfaction about the transactions is the same as that of their competitor firm PayEarly. Consider the equality of an average level of satisfaction as the null hypothesis and test the claim using a critical value method with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<img src='2_z.png'>

In [2]:
h0: mua-mub=0
h1: mu-mub!=0

NameError: name 'mua' is not defined

In [ ]:
mua=4.23
mub=3.56

In [ ]:
std_a=1.6
std_b=0.72
a=527
b=652

In [ ]:
z_critical_value=round(stats.norm.isf(0.10/2),2)
z_critical_value

In [ ]:
#if  is Z_score is less than -1.64 or greater than 1.64 then we will rejct the h0 and this is a two tail test

In [ ]:
numerator =((mua-mub)-0)  #value =0
numerator

In [ ]:
denomitar=np.sqrt((std_a**2 / a) + (std_b**2 / b))
denomitar

In [ ]:
z_score=numerator/denomitar
z_score

In [ ]:
#so we reject the null hypothisis because Z_score is greater than 1.64

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The economic journal claims that the students who graduated from tier 1 universities get more salary than the average salary of 35000$. A random sample of 20 graduated students is selected to test the claim. Use p-value criteria to test the claim with 0.1 as a level of significance.
</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:

        salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
                  15188, 91631, 96189, 77819, 79590]

In [ ]:
salary = [29560, 26534, 31020, 44300, 52335, 69190, 71100, 80100, 90000, 41002, 46118, 88129, 79713, 95881, 47989,
              15188, 91631, 96189, 77819, 79590]

In [ ]:
h0:mu<=35000
h1:mu>35000

In [ ]:
pop_meab=35000
samp_mean=np.mean(salary)
samp_mean

In [ ]:
t_test,p_value=stats.ttest_1samp(a=salary,popmean=35000)
t_test,p_value

In [ ]:
req_p_value=p_value/2
req_p_value

In [ ]:
#p value is less than the siginificance level so we can reject the null hypothisis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Amy and Susan are national level swimmers. Their coach conducts five rounds each of 400 m and records the time taken by the individuals. Perform a two sample t-test to test whether there is any difference between the average time taken by Amy and Susan. Use 0.05 as a level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the timing (in minutes) given below:

        Amy_time = [4.2, 3, 3.8, 5, 4.6]
        Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

In [ ]:
Amy_time = [4.2, 3, 3.8, 5, 4.6]
Susan_time = [5.2, 4.6, 3.9, 4.4, 5]

In [ ]:
s_avg1=np.mean(Amy_time)
s_avg2=np.mean(Susan_time)
num1=len(Amy_time)
num2=len(Susan_time)
samp_std1=statistics.stdev(Amy_time)
samp_std2=statistics.stdev(Susan_time)
print('Degree of freedom : ', num1+num2-2)

In [ ]:
h0: mua-mub=0
h1:mua-mub=1

In [ ]:
t_value=stats.t.isf(0.05/2,df=8)
t_value

In [ ]:
#between -2.30 to 2.30 is my acceptance region

In [ ]:
t_stat,p_value=stats.ttest_ind(a=Amy_time,b=Susan_time)
print('t_stat value :',t_stat)
print('p_value :',p_value)

In [ ]:
#t_stat value is fail to reject  from the null hypothisis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A multinational company had organized a presentation activity to test the soft skills of their 6 sales executives and then offered them a skill development course. After the completion of the course, the executives again appeared for the presentation and the scores before and after the course are recorded. Test the company's claim that the course was effective in developing soft skills with 90% confidence using the p-value technique.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the scores given in the file `paired_data.xlsx`

In [ ]:
df=pd.read_excel('paired_data.xlsx')
df

In [ ]:
result_diff=df['after_score']-df['before_score']
result_diff

In [ ]:
mean_value=np.mean(result_diff)
std_value=statistics.stdev(result_diff)
n=len(df)
print('Degree of freedom :',n-1)

In [ ]:
h0:mua-mub=0
h1:mua-mub!=0

In [ ]:
t_value=stats.t.isf(0.10/2,df=5)
t_value

In [ ]:
t_stat,p_value=stats.ttest_rel(df['after_score'],df['before_score'])
print('t_stat value :',t_stat)
print('p_value :',p_value)

In [ ]:
#p_value is greater than 0.10 so we clearly say that this is reject  the null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. A survey conducted by the department of education states that the proportion of students who quit education due to financial crisis is more than 38%. To test this claim a group of 450 students is selected out of which 205 are found to be dropped out from school due to financial crisis. Test the claim using a critical value method with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
p<=0.38 H0
p>0.38 H1

In [ ]:
Hyp_prop=0.38
n=450
x=205
sample_prop=x/n

In [ ]:
z_critical=stats.norm.isf(0.05)
z_critical

In [ ]:
z_prop=(sample_prop-Hyp_prop)/np.sqrt((Hyp_prop*(1-Hyp_prop))/n)
print('z_proportion : ',z_prop)

In [ ]:
#reject the H0 so proportion can be more than 38%

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Two leading medical institutes CureOn and MedFirst have produced new vaccines on ebola. The vaccine produced by CureOn is given to 252 people in the UK out of which 78 had severe side-effects also the vaccine produced by MedFirst is given to 425 people in the UK out of which 92 had severe side-effects. Can we conclude that the vaccine produced by MedFirst is more reliable? Test the claim using p-value technique with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
p1>=p2 H0
p1<p2 H1

In [7]:
n_a=252
n_b=452
x_a=78
x_b=92

In [8]:
z_prop,p_val=sm.stats.proportions_ztest(count=np.array([x_a,x_b]),nobs=np.array([n_a,n_b]),alternative='smaller')
print('z_proportion :',z_prop)
print('p_palue :',p_val)

z_proportion : 3.149930555903627
p_palue : 0.9991834536211959

In [ ]:
#p_value is greater than 0.10 so we fail to reject the null hypothesis.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. A research paper in the medical journal claims that the average height of females in Nebraska is less than 168 cm. A group of physicians conducted a survey and collected the heights of 95 females from Nebraska, and recorded the average height as 163 cm with a standard deviation of 7 cm. Assume that the sample is drawn from a normally distributed population. Test the claim in the research paper using the 95% confidence interval for the population mean.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
H0:mu>=168
H1:mu<168

In [10]:
num_samp=95
samp_avg=163
sample_std=7

In [11]:
pop_interval_mean=stats.t.interval(0.95,loc=samp_avg,scale=sample_std/np.sqrt(num_samp),df=num_samp-1)

In [12]:
pop_interval_mean

(161.57402715183346, 164.42597284816654)

In [ ]:
#as mu is not lies in the range so so we reject the null hypothesis.