<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Large Sample Test](#z)**
2. **[Small Sample Test](#t)**
3. **[Z Proportion Test](#prop)**

**Import the required libraries**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action='ignore')

In [34]:
import statistics
from math import factorial
from scipy import stats
from scipy.stats import randint
from scipy.stats import skewnorm
import random

In [3]:
from statsmodels.stats import weightstats as stests
from scipy.stats import shapiro

In [29]:
from statsmodels.stats import power
import statsmodels as sm
from statsmodels import api

### Let's begin with some hands-on practice exercises

<a id = "z"> </a>
## 1. Large Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. The company MangoFun that produces mango juice claims that the protein content in their juice is more than the juice produced by their competitor company FruitMix. Protein content in 50 boxes of MangoFun juice and 80 boxes of FruitMix juice is collected from a normal population which have an average protein content as 0.4 g and 0.35 g. The two samples have a standard deviation of 0.08 g for MangoFun juice and 0.05 g for FruitMix juice. Test the claim using a critical value method at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

h0: mua-mub<=0
h1: mua-mub>0

In [4]:
n_mango = 50
n_fruitmix = 80
man_avg = 0.4
fruit_avg = 0.35
std_mango = 0.08
std_fruitmix = 0.05
alpha = 0.01

In [ ]:
z  = stats.norm.isf(q=0.01)
print('The critical value is ',z)

In [6]:
print('Confidence interval:', stats.norm.interval(0.99, loc = man_avg - fruit_avg, 
                                                scale = np.sqrt(((std_mango**2) / n_mango) + ((std_fruitmix**2) / n_fruitmix))))

Confidence interval: (0.017494503792241142, 0.08250549620775895)

In [7]:
nume = (man_avg -fruit_avg)
nume

0.050000000000000044

In [8]:
den = np.sqrt(((std_mango**2) / n_mango) + ((std_fruitmix**2) / n_fruitmix))
den

0.012619429464123963

In [9]:
nume/den

3.96214425875164

In [ ]:
#we reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The technician wants to test whether the price of a phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Check whether the data satisfies the conditions to use the two sample Z-test. (Use 5% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [11]:
df2=pd.read_csv('electronic.csv')
df2

    Screensize (inch)  Price ($)  Weight (g)     Type
0                 6.5        245         252  Phablet
1                 6.3        210         252  Phablet
2                 6.1        224         234  Phablet
3                 6.0        217         212  Phablet
4                 6.4        252         252  Phablet
..                ...        ...         ...      ...
95                8.5        210         462   Tablet
96                8.5        203         462   Tablet
97                9.0        203         473   Tablet
98                8.9        175         430   Tablet
99                8.5        196         451   Tablet

[100 rows x 4 columns]

In [15]:
phablet_price = df2[df2['Type']=='Phablet']['Price ($)']
num1_len = len(phablet_price)
num1_len

50

In [22]:
tablet_price = df2[df2['Type']=='Tablet']['Price ($)']
num2_len = len(tablet_price)
num2_len

50

In [16]:
stats.shapiro(df2[df2['Type']=='Phablet']['Price ($)'])

ShapiroResult(statistic=0.9686920642852783, pvalue=0.20465952157974243)

In [17]:
stats.shapiro(df2[df2['Type']=='Tablet']['Price ($)'])

ShapiroResult(statistic=0.9741330742835999, pvalue=0.33798879384994507)

In [19]:
stats.shapiro(df2['Price ($)'])
#The value is above 0.05 the data is normally distributed

ShapiroResult(statistic=0.9888564348220825, pvalue=0.5733178853988647)

In [23]:
stats.levene(phablet_price,tablet_price)
#the p value is > 0.05 the population variance are equal

LeveneResult(statistic=0.6635459332943239, pvalue=0.4172859681296204)

In [24]:
#we can proceed for z_sample test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The technician claims that the price of phablet is not the same as the price of tablet. For the study, the technician collects the data of 50 gadgets of each type. Test the technician's claim using the 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Consider the dataset given in the CSV file `electronic.csv`.

In [25]:
df2

    Screensize (inch)  Price ($)  Weight (g)     Type
0                 6.5        245         252  Phablet
1                 6.3        210         252  Phablet
2                 6.1        224         234  Phablet
3                 6.0        217         212  Phablet
4                 6.4        252         252  Phablet
..                ...        ...         ...      ...
95                8.5        210         462   Tablet
96                8.5        203         462   Tablet
97                9.0        203         473   Tablet
98                8.9        175         430   Tablet
99                8.5        196         451   Tablet

[100 rows x 4 columns]

H0 : mu1 - mu2 = 0
H1 : mu1 - mu2 != 0

In [35]:
phablet_price = df2[df2['Type']=='Phablet']['Price ($)']
tablet_price = df2[df2['Type']=='Tablet']['Price ($)']
phablet_len = len(phablet_price)
tablet_len = len(tablet_price)
phablet_mean = np.mean(phablet_price)
tablet_mean = np.mean(tablet_price)
phablet_std = statistics.stdev(phablet_price)
tablet_std = statistics.stdev(tablet_price)
alpha = 0.05
value = 0

In [31]:
z_critical = round(stats.norm.isf(q = 0.05/2), 2)
print('the critical value is ', z_critical)

the critical value is  1.96

In [36]:
denominator = np.sqrt((phablet_std**2 / phablet_len) + (tablet_std**2 / tablet_len))
numerator = ((phablet_mean - tablet_mean) - (value))

In [37]:
z_score = numerator/denominator
z_score

9.282772555558113

In [41]:
p_value = stats.norm.sf(z_score)
p_value*2

1.6512473234517284e-20

In [42]:
print('Confidence interval:', stats.norm.interval(0.95, loc = phablet_mean - tablet_mean, 
                                                  scale = np.sqrt((phablet_std**2/phablet_len) + (tablet_std**2/tablet_len))))

Confidence interval: (35.78269259462732, 54.93730740537265)

In [43]:
#as observed the zscore is above zcritical and p value is below 0.05 and the mu doesn't lie in the 
#confidence interval we reject null hypothesis

<a id="t"></a>
## 2. Small Sample Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. The quality assurance department has collected 15 packets of potato chips. The department wants to test the average weight of the packets. Check whether they can use the one sample t-test for the population mean with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [44]:
pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [45]:
stats.shapiro(pack_wt)

ShapiroResult(statistic=0.9538426995277405, pvalue=0.5868644714355469)

In [46]:
n = 15
samp_mean = np.mean(pack_wt)
alpha = 0.05
samp_std = statistics.stdev(pack_wt)

In [47]:
#since n < 30 and population std is not given we use t_test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Use the weight of the potato chips packets given in the previous question and test whether the average weight of packet is more than 30 g. using p-value method. (Use 10% level of significance)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    pack_wt = [26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [48]:
print(pack_wt)

[26.8, 29.6, 27.8, 31.2, 30.9, 27.1, 28, 28.6, 29.4, 29.3, 31.5, 32.4, 29.7, 28.1, 31.9]

In [ ]:
H0 : <= 30
Ha : > 30

In [50]:
#will use right tail t test as per hypothesis and given sample size

In [51]:
pop_mean = 30
samp_mean = np.mean(pack_wt)
samp_std = statistics.stdev(pack_wt)
alpha = 0.1

In [52]:
t_stat, p_val = stats.ttest_1samp(a = pack_wt, popmean = 30)

print('t_score',t_stat)
print('p_val',p_val/2)
#by default it will return for two_sided, as it is 1 tail test

t_score -1.1204731591740873
p_val 0.14068288127820355

In [53]:
t_critical = stats.t.isf(alpha,df=len(pack_wt)-1)
print('t_critical ',round(t_critical,2))

t_critical  1.35

In [54]:
t_score = (samp_mean - pop_mean)/(samp_std/np.sqrt(n))
print('t-score ',t_score)

t-score  -1.1204731591740873

In [55]:
p_value = stats.t.cdf(t_score,df=len(pack_wt)-1)
print(p_value)

0.14068288127820355

In [56]:
#since p_value > 0.1 we fail to reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. The orthopaedic surgeon states that a T-score for females older than 30 years is less than -1.2 which indicates the low bone density. To test the claim a sample of 10 women was selected and the average T-score was found to be -1.34 with a standard deviation of 0.8. Test the surgeon's claim using a critical value method with 95% confidence. (Assume the normality of the T-score). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [57]:
t_score = -1.2
n = 10
samp_t_score = -1.34
samp_std = 0.8
alpha = 0.05

In [58]:
t_critical = stats.t.isf(alpha,df=n-1)
print('t_critical ',t_critical)

t_critical  1.8331129326536337

In [59]:
p_val = stats.t.cdf(samp_t_score,df=n-1)
print('P_val ', p_val)

P_val  0.1065460754268941

In [60]:
#as the provided samp_t_score lies below the rejection region we fail to reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Is the given dataset unpaired? If yes, check whether the manager at newspaper agency can use the two sample t-test for unpaired data with 99% confidence.  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [61]:
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

H0 : harry_mu >= ron_mu
H1 : harry_mu < ron_mu

In [64]:
alpha = 0.01
samp_avg_1 = np.mean(harry)
n_1= len(harry)
samp_std_1 = statistics.stdev(harry)
samp_avg_2 = np.mean(ron)
n_2 = len(ron)
samp_std_2 = statistics.stdev(ron)

In [65]:
t_critical = stats.t.isf(alpha,df=n_1+n_2-2)
print('t_critical ',round(t_critical,2))

t_critical  2.68

In [67]:
s = np.sqrt((((n_1-1)*samp_std_1**2) + ((n_2-1)*samp_std_2**2)) / (n_1 + n_2 - 2))
print('pooled variance',s)
# calculate the test statistic 
t_stat = (samp_avg_1 - samp_avg_2) / (s * np.sqrt(1/n_1 + 1/n_2))
print('t_stat ',t_stat)

pooled variance 2.1166572928176386
t_stat  -2.878858252717752

In [68]:
p_value = stats.t.cdf(t_score,df=(n_1+n_2-2))
print('p_value ',p_value)

p_value  0.12664736512679725

In [69]:
#As t_score is lies in crtical region and p_value > 0.01 we fa

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. The newspaper agency wants to test whether Harry takes less time to deliver the newspapers than his colleague Ron. The manager has collected time (in minutes) taken by Harry and Ron for 7 days. Use the given data and test the hypothesis for population mean time using a critical value method and p-value criteria with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given below:
        
    harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
    ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

In [70]:
harry = [18.5, 17.4, 19.2, 16, 15.8, 13.4, 19.5]
ron = [19.7, 18.6, 21.3, 17.5, 23.8, 20.7, 21]

#since data given for two different individuals, it is unpaired

In [ ]:
H0 : harry_mu >= ron_mu
H1 : harry_mu < ron_mu

In [71]:
t_critical = stats.t.isf(alpha,df=n_1+n_2-2)
print('t_critical ',round(t_critical,2))

t_critical  2.68

In [72]:
t_stat, p_val = stats.ttest_ind(a = harry, b = ron)
print(t_stat)
print(p_val/2)#by default two tailed

-2.8788582527177526
0.00692997580305821

In [73]:
#As t_score is lies in crtical region and p_value < 0.01 we reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>9. The pharmaceutical company had organized a program to introduce its new drug to lower the sugar level. They recorded the fasting sugar (in mg/dl) of 25 diabetic people. Those people undergo a medication of the new drug for 10 days and again took a fasting sugar level test. The company claim that the sugar level decreases due to its new drug. Test the claim using p-value technique with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

Use the data given in the file `sugar_level.xlsx`

In [77]:

df1=pd.read_excel('sugar_level.xlsx')
df1

    sugar_before  sugar_after
0            135          132
1            132          136
2            142          139
3            154          151
4            198          192
5            164          142
6            152          148
7            137          132
8            144          141
9            162          159
10           164          162
11           138          132
12           152          150
13           143          140
14           163          160
15           158          152
16           154          144
17           159          148
18           162          159
19           135          132
20           164          159
21           172          168
22           161          158
23           158          145
24           172          167

In [79]:
n = len(df1)
alpha = 0.05

In [ ]:
H0 : mu1 >= mu2
Ha : mu1 < mu2

In [80]:
t_critical = stats.t.isf(alpha,df=n-1)
print('t_critical ',round(t_critical,2))

t_critical  1.71

In [82]:
t_stat, p_val = stats.ttest_rel(df1['sugar_after'], df1['sugar_before'])
print(t_stat)
print(p_val/2)

-5.268469999584946
1.0544706972911436e-05

In [ ]:
#as the p_value is less than 0.05 we reject null hypothesis

<a id= "prop"></a>
## 3. Z Proportion Test

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. The physics department claims that it received 14% of fraud applications this year. The university head wants to test whether the percentage is different than what the department claims. The sample of 250 applications is selected out of which 38 applications are found to fraud. Test the claim with a 95% confidence interval.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [83]:
prop= 0.14
n = 250
x = 38
p = 38/250
alpha = 0.05

H0 : prop = 0.14
Ha : prop != 0.14

In [84]:
z_critical = stats.norm.isf(alpha/2)
print('z_critical ',round(z_critical,2))

z_critical  1.96

In [85]:
num = (p - prop)

In [86]:
den = np.sqrt((prop*(1-prop)/n))

In [87]:
z_score = num/den
print('z_score ',z_score)

z_score  0.5468119624323661

In [88]:
p_value = stats.norm.sf(z_score)
print('p_value ',p_value*2)

p_value  0.5845079238217354

In [89]:
#as z_score lies in accpetance range and p_value is greater than 0.05 and pop_prop lies in interval range we fail to reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. The store manager claims that he received more 20% of defective plastic boxes in his previous order. Test the manager's claim using a critical value method. From a sample of 120 boxes, 42 were found to be defective. Test the claim with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [90]:
prop = 0.20
n = 120
x = 42
p = x/n
alpha = 0.10

H0 : pop_prop <= 0.20
Ha : pop_prop > 0.20

In [91]:
z_critical = stats.norm.isf(alpha)
print('z_critical ',round(z_critical,2))

z_critical  1.28

In [92]:
num = (p - prop)

In [93]:
den = np.sqrt((prop*(1-prop)/n))

In [94]:
z_score = num/den
print('z_score ',z_score)

z_score  4.107919181288744

In [95]:
p_value = stats.norm.sf(z_score)
print('p_value ',p_value)

p_value  1.996198738450681e-05

In [96]:
interval = stats.norm.interval(0.95,loc=p,scale=den)
print('confidence interval ',interval)

confidence interval  (0.2784322342513137, 0.42156776574868626)

In [ ]:
#as z_score lies in rejection range and p_value is lesser than 0.1 and prop doesn't lies in interval range 
#we reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                        <b>12. The HR head of a company claims that the company supports the woman empowerment and the proportion of female employees is same in the New York and Oneonta branches. The women empowerment cell wants to check whether the proportion is different for the two branches. The sample of 150 employees is selected from New York branch out of which 53 are females and a sample of 170 employees is selected from Oneonta branch out of which 76 are females. Use the p-value technique with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [97]:
n1 = 150
x1 = 53
p1 = x1/n1
n2 = 170
x2 = 76
p2 = x2/n2
alpha = 0.05

In [ ]:
H0 : p1 - p2 = 0
Ha : p1 - p2 != 0

In [98]:
z_critical = stats.norm.isf(alpha/2)
print('z_critical ',round(z_critical,2))

z_critical  1.96

In [99]:
z_score,pval = sm.api.stats.proportions_ztest(count = np.array([x1,x2]),
                                             nobs = np.array([n1,n2]),
                                             alternative = 'two-sided')
print('z_score ',z_score)
print('p_value ',pval)

z_score  -1.705655272664087
p_value  0.08807228185564836

In [ ]:
#as the z_score lies in acceptance region and p_value greater than 0.05, we fail to reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. The education department claims that the proportion of students failed in Mathematics is more than the proportion of students failed in English. To test the claim a sample of 200 students enrolled for Mathematics was considered out of which 73 students failed in the exam and a sample of 150 students enrolled for English was considered out of which 53 students failed in the exam. Use the critical value method to test the department's claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
H0 : p1 - p2 <= 0
Ha : p1 - p2 > 0

In [100]:
n1 = 200
x1 = 73
p1 = x1/n1
n2 = 150
x2 = 53
p2 = x2/n2
alpha = 0.1

In [101]:
z_critical = stats.norm.isf(alpha)
print('z_critical ',round(z_critical,2))

z_critical  1.28

In [102]:
#z_critical value is 1.28 and -1.28 above these limits to face rejection area

In [103]:
z_score,pval = sm.api.stats.proportions_ztest(count = np.array([x1,x2]),
                                             nobs = np.array([n1,n2]),
                                             alternative = 'larger')
print('z_score ',z_score)
print('p_value ',pval)

z_score  0.22502571869471721
p_value  0.41097963333926457

In [104]:
#as the z_score lies in acceptance region and p_value greater than 0.1, we fail to reject null hypothesis