<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Chi-Square Test](#chisq)**
2. **[One-way ANOVA](#1way)**

**Import the required libraries**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import statistics
from math import factorial
from scipy import stats
from scipy.stats import randint
from scipy.stats import skewnorm
import random

In [3]:
from statsmodels.stats import weightstats as stests
from scipy.stats import shapiro

In [4]:
from statsmodels.stats import power
import statsmodels as sm
from statsmodels import api

In [40]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2
from scipy.stats import chisquare

### Let's begin with some hands-on practice exercises

<a id = "chisq"> </a>
## 1. Chi-Square Test

Use the data available in the CSV file `Employee_Attrition.csv` for questions 1 to 6.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A company in Los Angeles has three functional departments - Research and Development, Sales, and Human Resources. The company claims that the percentage of employees in these 3 departments is 55%, 35% and 10% respectively. Check the company's claim using p-value criteria. Consider a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
df2 = pd.read_csv('Employee_Attrition.csv')
df2.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
882,36,No,Travel_Rarely,363,Research & Development,1,3,Technical Degree,1,1237,...,3,80,1,17,2,3,7,7,7,7
1222,24,Yes,Travel_Rarely,240,Human Resources,22,1,Human Resources,1,1714,...,3,80,1,1,2,3,1,0,0,0
938,58,No,Travel_Rarely,848,Research & Development,23,4,Life Sciences,1,1308,...,4,80,2,2,3,3,2,2,2,2
451,42,No,Travel_Rarely,319,Research & Development,24,3,Medical,1,605,...,4,80,1,10,5,2,10,9,5,8
1448,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4

In [ ]:
H0: There is no significant difference between the observed and expected values.
H1: There is a significant difference between the observed and expected values.

In [7]:
observed = df2['Department'].value_counts().values
print(observed)

[961 446  63]

In [9]:
expected_count = np.array([0.55,0.35,0.1])*len(df2)
print(expected_count)

[808.5 514.5 147. ]

In [10]:
chi_critical = stats.chi2.isf(q=0.05,df=2)
print('chi_critical ',round(chi_critical,2))

chi_critical  5.99

In [11]:
stat,pval = stats.chisquare(f_obs=observed,f_exp=expected_count)
print('Test statistic:', stat)
print('p-value:', pval)

Test statistic: 85.88470712960503
p-value: 2.2406437256053955e-19

In [12]:
#as pval is less than 0.05 and test statistic is greater than chi_critical we reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. The employees in an IT firm undergo an online assessment survey. The survey reveals that 20% of employees are least satisfied, 18% are fairly satisfied, 30% are moderately satisfied and 32% are highly satisfied with their job. Use a critical value method to test the survey result with 90% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
H0: There is no significant difference between the observed and expected values. 
H1: There is a significant difference between the observed and expected values.

In [14]:
observed = df2['JobSatisfaction'].value_counts().sort_index().values
print('observed ',observed)
#assumed as 1 with least satisfaction and 4 with highest satisfaction

observed  [289 280 442 459]

In [16]:
expected = np.array([0.2,0.18,0.30,0.32])*len(df2)
print('expected ',expected)

expected  [294.  264.6 441.  470.4]

In [17]:
chi_critical = stats.chi2.isf(q=0.1,df=len(expected)-1)
print('chi_critical ',round(chi_critical,2))

chi_critical  6.25

In [18]:
stat,pval = stats.chisquare(f_obs=observed,f_exp=expected)
print('Test statistic:', stat)
print('p-value:', pval)

Test statistic: 1.2598733938019708
p-value: 0.7386828586247451

In [ ]:
#as pval is greater than 0.1 and test statistic is lesser than chi_critical we fail to reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. The company claims that in the organization, 68% of employees are there with rare travelling, 20% with frequent travelling and 12% of employees does not need to travel for business. Check if the given data fits with the company's claimed distribution. Use the p-value technique with 99% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
H0:data is a good fit
H1:data is not a good fit

In [21]:
observed = df2['BusinessTravel'].value_counts()
observed

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [23]:
expected = np.array([0.68,0.2,0.12])*len(df2)
print('expected ',expected)

expected  [999.6 294.  176.4]

In [25]:
chi_critical = stats.chi2.isf(q=0.01,df=len(expected)-1)
print('chi_critical ',round(chi_critical,2))

chi_critical  9.21

In [26]:
stat,pval = stats.chisquare(f_obs=observed,f_exp=expected)
print('Test statistic:', stat)
print('p-value:', pval)

Test statistic: 6.818327330932372
p-value: 0.0330688454314459

In [ ]:
#as pval is greater than 0.01 and test statistic is lesser than chi_critical we fail to reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Check whether travelling for work depends upon the job role of an employee. Use p-value criteria to test the dependence with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
The null and alternative hypothesis is:

H0: The variables Businnes Travel and Job role are independent
H1: The variables Businnes Travel and Job role are not independent

In [37]:
table = pd.crosstab(df2['BusinessTravel'],df2['JobRole'])
table

JobRole,Healthcare Representative,Human Resources,Laboratory Technician,Manager,Manufacturing Director,Research Director,Research Scientist,Sales Executive,Sales Representative
BusinessTravel,,,,,,,,,
Non-Travel,15,4,28,12,13,6,28,39,5
Travel_Frequently,26,10,51,13,29,12,54,59,23
Travel_Rarely,90,38,180,77,103,62,210,228,55

In [38]:
observed_value = table.values
observed_value

array([[ 15,   4,  28,  12,  13,   6,  28,  39,   5],
       [ 26,  10,  51,  13,  29,  12,  54,  59,  23],
       [ 90,  38, 180,  77, 103,  62, 210, 228,  55]], dtype=int64)

In [41]:
chi_stat,p_value,dof,expected_value= chi2_contingency(observed=observed_value,correction=False)
print("p_value: ",p_value)

p_value:  0.7448263418408124

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Is there any relationship between the attrition of an employee and his/her marital status? Use the critical value technique to test the relationship with 95% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
The null and alternative hypothesis is:

H0: The variables Attrition and Maritial Status are independent
H1: The variables Attrition and Maritial Status are not independent

In [42]:
df2['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [43]:
df2['MaritalStatus'].value_counts()

Married     673
Single      470
Divorced    327
Name: MaritalStatus, dtype: int64

In [45]:
observed = pd.crosstab(df2['Attrition'],df2['MaritalStatus']).values
print('observed ',observed)

observed  [[294 589 350]
 [ 33  84 120]]

In [46]:
chi_critical = stats.chi2.isf(q=0.05,df=2) #df = (r-1)(c-1) = 16
print('chi_critical ',round(chi_critical,2))

chi_critical  5.99

In [47]:
test_stat, p, dof, expected_value = chi2_contingency(observed = observed, correction = False)

print('Degree of Freedom ',dof)
print("Test statistic:", test_stat)
print("p-value:", p)

Degree of Freedom  2
Test statistic: 46.163676540848705
p-value: 9.45551106034083e-11

In [48]:
#as pval is less than 0.05 and test statistic is greater than chi_critical we reject null hypothesis

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Check whether travelling for the business depends on the gender of an employee. Use the p-value technique to test the claim with 90% confidence. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
The null and alternative hypothesis is:

H0: The variables Business Travel and Gender are independent
H1: The variables Business Travel and Gender are not independent

In [49]:
df2['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [50]:
df2['Gender'].value_counts()

Male      882
Female    588
Name: Gender, dtype: int64

In [52]:
observed = pd.crosstab(df2['BusinessTravel'],df2['Gender']).values
print('observed ',observed)

observed  [[ 49 101]
 [117 160]
 [422 621]]

In [53]:
chi_critical = stats.chi2.isf(q=0.1,df=2) #df = (r-1)(c-1) = 16
print('chi_critical ',round(chi_critical,2))

chi_critical  4.61

In [54]:
test_stat, p, dof, expected_value = chi2_contingency(observed = observed, correction = False)

print('Degree of Freedom ',dof)
print("Test statistic:", test_stat)
print("p-value:", p)

Degree of Freedom  2
Test statistic: 4.031372310350092
p-value: 0.13322895625828154

In [55]:
#as pval is greater than 0.05 and test statistic is less than chi_critical we reject null hypothesis

<a id = "1way"> </a>
## 2. One-way ANOVA

Use the data available in the CSV file `sales_emp.csv` for questions 7 to 11.

In [75]:
df2 = pd.read_csv('sales_emp.csv')
df2.head()

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,36,Travel_Rarely,1218,9,4,Life Sciences,1,27,3,82,...,2,80,0,10,4,3,5,3,0,3
1,39,Travel_Rarely,895,5,3,Technical Degree,1,42,4,56,...,3,80,1,19,6,4,1,0,0,0
2,50,Travel_Rarely,869,3,2,Marketing,1,47,1,86,...,3,80,0,3,2,3,3,2,0,2
3,46,Travel_Rarely,669,9,2,Medical,1,118,3,64,...,4,80,0,9,3,3,9,8,4,7
4,25,Non-Travel,240,5,3,Marketing,1,142,3,46,...,4,80,0,6,1,3,6,4,0,3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check whether we can use the given dataset to study the equality of average monthly income of sales executives with a different education background in the company. Use a p-value technique to test at a 5% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [77]:
df2['EducationField'].unique()

array(['Life Sciences', 'Technical Degree', 'Marketing', 'Medical',
       'Other'], dtype=object)

In [79]:
life_science = df2[df2['EducationField']=='Life Sciences']['MonthlyIncome']
marketing = df2[df2['EducationField']=='Marketing']['MonthlyIncome']
medical = df2[df2['EducationField']=='Medical']['MonthlyIncome']
other = df2[df2['EducationField']=='Other']['MonthlyIncome']
tech_degree = df2[df2['EducationField']=='Technical Degree']['MonthlyIncome']

In [81]:
#normality test
stats.shapiro(df2['MonthlyIncome'])

ShapiroResult(statistic=0.9582135677337646, pvalue=0.05732710659503937)

In [82]:
# p_value of shapiro test is greater than 0.05, we fail to reject null and accept that monthly income is normally distributed.
# so we can use the dataset to study the equality of average monthly income.

In [83]:
#variance equality test
stats.levene(life_science,marketing,medical,other,tech_degree)

LeveneResult(statistic=1.4405771214255787, pvalue=0.23476859109336565)

In [84]:
# again, since the p_value is greater than 0.05, we fail to reject the null hypothesis and infer that that these samples has equal variance.
# so we can use the dataset to study the equality of average monthly income.

 <table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Use the sales employees' dataset to test whether the average monthly income of sales executives with different education background is equal or not. Use a critical value method with 95% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

H0:all different education background sales exec have same average monthly income
H1:atleast one different education background sales exec have different average monthly income

In [86]:
stats.f_oneway(life_science,marketing,medical,other,tech_degree)

F_onewayResult(statistic=0.9546031924978221, pvalue=0.4407865128409415)

In [88]:
dfx = 5-1
dfy = len(life_science)-dfn
critical_val = round(stats.f.isf(q = 0.05, dfn = dfn, dfd = dfd), 4)
print("critical_value: ",critical_val)

critical_value:  3.2592

In [ ]:
#f-stat is less than f_critical, we fail to reject null hypothesis here.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Can we use the given data of sales executives to check the equality of the average daily rate for different types of business travellers? Use a p-value technique to test at a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
H0:all average are same for travel type
H1: at least one average rate is different for travel type

In [90]:
df2['BusinessTravel'].unique()

array(['Travel_Rarely', 'Non-Travel', 'Travel_Frequently'], dtype=object)

In [91]:
travel_rare = df2[df2['BusinessTravel']=='Travel_Rarely']['DailyRate']
travel_no = df2[df2['BusinessTravel']=='Non-Travel']['DailyRate']
travel_freq = df2[df2['BusinessTravel']=='Travel_Frequently']['DailyRate']

In [93]:
#normality test
stats.shapiro(df2['DailyRate'])

ShapiroResult(statistic=0.954758882522583, pvalue=0.040250398218631744)

In [94]:
#p_value is greater than 0.01, we fail to reject the null that dailyrate is normally distributed.

In [95]:
#variance equality test
stats.levene(travel_freq,travel_no,travel_rare)

LeveneResult(statistic=1.5065215359381483, pvalue=0.23137904227432696)

In [ ]:
#p_value is greater than 0.01, we fail to reject the null that they have equal variance.

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Use the parametric test to check the equality of the average daily rate for all the types of business travelling. Use a p-value technique to test the data with 99% confidence.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [96]:
stats.f_oneway(travel_rare,travel_no,travel_freq)

F_onewayResult(statistic=15.815759872412409, pvalue=4.527131533131016e-06)

In [ ]:
#p_value is less than 0.01, we reject Null hypothesis and infer atleast one of the average is different

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Find the types of business travel for which the average daily rate is different. Use a 1% level of significance.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [98]:
import statsmodels.stats.multicomp as mc

In [100]:

comp = mc.MultiComparison(data=df2['DailyRate'],groups=df2['BusinessTravel'])
post_hoc = comp.tukeyhsd()
post_hoc.summary()

In [101]:
#(non-travel,travel_rarely) pair have different average daily rate.